<div style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1; width: fit-content; padding: 20px; border: 1px solid #ccc; border-radius: 8px; display: flex; justify-content: space-between; align-items: center;">

    <div style="text-align: left; margin-right: 50px;">
      <p style="font-size: 20px; font-weight: bold; margin-bottom: 10px;"><strong>[fullName]</strong></p>
      <p>[jobTitle]</p>
      <p>[company]</p>
      <p>[phoneNumber]</p>
      <p>[location]</p>
      <p style="color: grey; font-style: italic;">[disclaimer]</p>
    </div>


    <div style="text-align: right;">
      [qrImage]
    </div>

</div>